.about {
  background: #f6f6f6;
  height: 506px;

  .about_container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;

    .about_title {
      font-size: 34px;
      line-height: 42px;
      text-align: center;
      color: var(--black-color);
      padding-top: 120px;
      font-weight: bold;
    }

    .about_text {
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      color: var(--black-color);
      width: 485px;
      padding-top: 18px;
      white-space: pre-line;
    }
  }
}
