.contacts {
  margin-top: 115px;
  flex-direction: column;
  display: flex;
  align-items: center;

  .contacts_title {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: bold;
  }

  .contacts_text {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    text-align: center;
    white-space: pre-line;
  }

  .contacts_button {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    background: var(--black-color);
    color: white;
    border: none;
    padding: 13px 30px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 40px;
    margin-top: 30px;
    transition: transform 0.3s;
    &:hover {
      transform: scale(1.2);
      background: rgb(19, 16, 16);
    }
  }

  .contacts_link {
    margin-top: 91px;
    flex-direction: column;
    align-items: center;
    display: flex;

    .contacts_social {
      display: flex;
      gap: 60px;
      justify-content: center;
      .contacts_item {
        transition: transform 0.3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .contacts_link_text {
      margin: 46px 0 123px;
      white-space: pre-line;
      text-align: center;
      font-size: 14px;
      line-height: 17px;
      color: var(-darkgrey-color);
    }
  }
}
